/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #000;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #000;
}


/* Color white text
-------------------------------------------------- */

.color-text-white{
  color:white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-medium {
  margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-small {
  margin: 1rem 0  3rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading-standard {
    font-size: 50px;
  }
  .featurette-heading-small {
    font-size: 50px;
  }
  .myDiv {
      display: none !important;
  }

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top:3.5rem;
  }

  .featurette-heading-standard {
    margin-top: 3rem;
  }

  .featurette-heading-small {
    margin-top: 1rem;
  }


}

@media (max-width: 62em){
  .pwp-background-first{
    background-image: unset !important;
  }
  .pwp-background-second{
    background-image: unset !important;
  }
  .pwp-background-third{
    background-image: unset !important;
  }
  .pwp-background-four{
    background-image: unset !important;
  }
  .pwp-background-five{
    background-image: unset !important;
  }
  .pwp-background-six{
    background-image: unset !important;
  }

  .pwp-background-first-mobile{
    background-image: url('assets/img/back-first-mobile.jpg') !important;
  }
  .pwp-background-second-mobile{
    background-image: url('assets/img/diseno-de-paginas-web-mobile.jpg') !important;
  }
  .pwp-background-third-mobile{
    background-image: url('assets/img/estrategias-seo-y-sem-mobile.png') !important;
  }
  .pwp-background-four-mobile{
    background-image: url('assets/img/update-paginas-web-premium-mobile.jpg') !important;
  }
  .pwp-background-five-mobile{
    background-image: url('assets/img/sem-publicidad-campanas-en-google-mobile.png') !important;
  }
  .pwp-background-six-mobile{
    background-image: url('assets/img/paginas-web-premium-logo-slide-mobile.png') !important;
  }

  .shadow-ask {
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
  }

  .btn-mobile-action{
    display: inline-block !important;
  }

  .btn-web-action{
    display: none !important;
  }

  .tittle-h2{
        font-size: 1.8rem !important;
  }

  .parallax {
  /* The image used */
    background-image: url("assets/img/diseno-de-paginas-weba-en-cdmx-mobile.png") !important;
  }
  /* IMG TOP SPACE IN MOBILE DEVICES
  -------------------------------------------  */
  .img-mobile-space{
    margin-top: 30px;
  }

}


/* ITEM SCROLLPY CSS CODE
------------------------------------------------------- */

.scrollspy-example {
    position: relative;
    height: 250px;
    margin-top: 1.2rem;
    overflow: auto;
}


/* GRID COLORS
-------------------------------------------------------- */

.cta-black{
  background-color: black !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluecream{
  background-color: #111526 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemaster{
  background-color: #006cdf !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemarine{
  background-color: #222740 !important;
  border-radius: unset !important;
  color:white; 
}
.cta-grey{
  background-color: #646673 !important;
  border-radius: unset !important;
  color:white; 
}

.bg-black{
  background-color: #000;
}

.bg-bluecream{
  background-color: #111526;
}

.bg-grey{
  background-color: #646673;
}

.bg-bluemaster{
  background-color: #006cdf;
}

.padding-automatic-text{
  padding-bottom: 150;
  padding-left: 0;
  padding-right: 0;
  padding-top: 150;
}


.cta-div{
  width:100%;
  height:auto;
  background-color:#721dbf;
  -webkit-animation-name:example;
  -webkit-animation-duration:30s;
  animation-name:example;
  animation-duration:30s;
  animation-iteration-count:50;
  color:white !important;
}

  @-webkit-keyframes example{
    0%{background-color:#721dbf}
    25%{background-color:#c432c9}
    50%{background-color:#f92c8b}
    100%{background-color:#721dbf}

  }

  @keyframes example{
    0%{background-color:#721dbf}
    25%{background-color:#c432c9}
    50%{background-color:#f92c8b}
    100%{background-color:#721dbf}
  }

/* GRID COLORS
-------------------------------------------------------- */
  .pwp-background-first-mobile{
    background-image: unset;
  }
  .pwp-background-second-mobile{
    background-image: unset;
  }
  .pwp-background-third-mobile{
    background-image: unset;
  }
  .pwp-background-four-mobile{
    background-image: unset;
  }
  .pwp-background-five-mobile{
    background-image: unset;
  }
  .pwp-background-six-mobile{
    background-image: unset;
  }
  .pwp-background-first{
    background-image: url('assets/img/back-first.jpg');
  }
  .pwp-background-second{
    background-image: url('assets/img/diseno-de-paginas-web.jpg');
  }
  .pwp-background-third{
    background-image: url('assets/img/estrategias-seo-y-sem.png');
  }
  .pwp-background-four{
    background-image: url('assets/img/update-paginas-web-premium.jpg');
  }
  .pwp-background-five{
    background-image: url('assets/img/sem-publicidad-campanas-en-google.png');
  }
  .pwp-background-six{
    background-image: url('assets/img/paginas-web-premium-logo-slide.png');
  }

/* LINK FOOTER COLOR
-------------------------------------------------------- */

.link-footer{
  color:green;
}

/* ZINDEX first
---- */

.position{
  z-index:999999!important;
}

.shadow-ask {
    box-shadow: 5rem 4rem 4rem rgba(0,52,69,0.100);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

/* CANVA PARTICLES
-------------------------------------------------------- */


#particles-js{
        width: 100%;
        height: 400px;
        background-color: #222740;
        background-image: url('assets/img/logotipo-blanco-oficial.png');
        background-size: 160px 125px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

/* DISABLE Q&A OPTIONS LINK
-------------------------------------------------------- */
a.disabled {
  pointer-events: none;
  cursor: default;
}


/* TEXTOFORMAT CTA
-------------------------------------------------------- */

.text-color{
  color:white !important;

}

/*REMOVE DECORATION ON HOVER EFFECT

.text-color:hover{
  text-decoration: none;;
}

**/

 /* hidde btn mobile call
 ------------------------------------------------------- */
.btn-mobile-action{
  display: none;
}


  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
    }

  @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
  }


  .tittle-h2{
        font-size: 3.5rem;
  }



  /* TEXT SHOW
  -------------------------------------------------------- **/

.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*MODAL DIALOG
----------------------------------------------------------- */

.modal-dialog{
  margin-top:115px;
}

/*PARALLAX CODE
------------------------------------------------------------ */

.parallax {
  /* The image used */
  background-image: url("assets/img/diseno-de-paginas-weba-en-cdmx.png");

  /* Set a specific height */
  height: 400px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.horizontal-text-middle{
  padding-top: 150px;
  color: white;
}

.myDiv {
    background-color: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 30px 5px 30px;
    border: 1px solid #e9e9e9 !important;
    display: none;
}

.call-cta-button{
  float: right !important;
}

